/*general selectors*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
input,textarea,select{
    border: none;
    width: 100%;
}
.bold{
    font-weight: bold;
}
.gray{
    color: gray;
}
.black{
    color: black;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
#heading{
    font-size: 1.2rem;
    border-bottom: 2px solid grey;
}
body{
     background-color: gray;
}
#useable-area{
    width: 60%;
    background-color: white;
    margin: auto;
    padding: 5px 0px 5px 0px;
}
ul{
    list-style: none;
}
li{
    border-bottom: 2px solid grey;
    color: gray;
    font-weight: bold;
    padding: 1rem;
}
.j-space-bet{
    justify-content: space-between;
}

/*Useable area Specific i.e. take-input and display-added*/
#take-input .d-flex p{
    width: 50%;
}

#display-added input{
    width: auto;
}
#display-added li,#submissions{
    width: 98%;
    margin: auto;
}
#submissions{
    display: flex;
    justify-content: center;
}
#display-added label[for='Status']{
    display: inline-block;
    width: 97%;
}
button[type='submit']{
    color: white;
    background-color: rgb(68,68,68);
    width: 9rem;
    text-align: center;
    height: 3rem;
    border-radius: 5px;
}

button[type='submit'] i{
    padding-right: 20px;
}

button[type='submit']:hover{
    cursor: pointer;
    box-shadow: 3px 3px 3px #888888;
    background-color: white;
    color: rgb(68,68,68);
    font-weight: 900;
}
button[form='del_form']:hover{
    background-color: white;
    color: #EE351E;
}
button[form='del_form']{
    background-color: #EE351E;
    margin: 0;
}
.m-auto{
    margin: auto;
}
.checked + label{
    text-decoration: line-through;
}
/*responsiveness*/
@media screen and (max-width: 500px) {
    #submissions{
        flex-direction: column;
        align-items: center;
    }
}

